@import "tailwindcss";

*{
  box-sizing: border-box;
}

@theme{
  --color-back: #32255A;
  --color-container: #54416D;
  --color-border: #5C5C5C;
  --color-paragraph: #B9B9B9;
  --color-weatherText: #BFBFBF;
}

.fadeIn {
  animation: 1s fadeIn ease 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}